<div class="card-columns md-5">
    <div (click)="showArtist(item)" *ngFor="let item of items" class="card puntero">
        <img [src]="item.images | noimage" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">
                <span *ngFor="let artista of item.artists" class="badge badge-dark">
                        {{ artista.name }}
                    </span>
            </p>
            <p class="card-text"><small class="text-muted">{{ item.release_date }}</small></p>
        </div>
    </div>
</div>